.kg-image {
  margin: 0 auto;
  display: block;
  max-width: 100%;

  height: auto;
  margin-bottom: 1.5rem;
}

.kg-image-card figcaption {
  font-size: 0.8rem;
  color: #777;
  text-align: center;
}
